@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
/* 
project-style.css is a self made template css that styles all my projects.
This file styles my project pages regardless of content. Therefore this CSS file is able to style project1 - 4.

This page contains the styles for the images, the description and the headers.
*/
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-image: linear-gradient(to top,#a18cd1 0%, #330867 80%);
}
img{
    width: 100%;
}
/* Back button CSS component */
#back-button-block{
    width: 100%;
    position: relative;
    height: 80px;
    
}
#back-block {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.2s;
}
#back-block:hover{
    left: 5px;
}

/* project descriptions CSS component */
#project-section {
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    color: white;
}
#image-block {
    max-width: 100%;
    width: 60%;
    background-size: cover;
    margin-bottom: 10px;
}
#link-block span a{
    color: #86e3ef;
}
.description-block {
    font-family: 'Source Sans Pro', sans-serif;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: justify;
}
@media (max-width: 1200px) {
    /* If screen size is less than 800px, then change the width of element */
    .description-block {
        width: 80%;
    }
    #image-block {
        width: 80%;
    }
}
@media (max-width: 800px) {
    /* If screen size is less than 800px, then change the width of element */
    .description-block {
        width: 90%;
        text-align: justify;
        font-size: 17px;
    }
    #image-block {
        width: 90%;
    }
}
@media (max-width: 550px) {
    /* If screen size is less than 550px, then change the width of element */
    .description-block {
        width: 100%;
        text-align: justify;
        font-size: 17px;
    }
}
.text-block{
    font-size: 18px;
    font-weight: 500;
}
/* technologies-used CSS component */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    display: inline;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    border-bottom: 3px solid white;
}
#technology-section>div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icon-container{
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    transform: rotate(45deg);
    background-color: white;
    border: 5px #333 solid;
    margin: 30px;
}
.icon-container:hover{
    opacity: 0.8;
}
#technology-section h2{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.icon-container img{
    transform: rotate(-45deg);
}